html{
  overflow-y: hidden;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.buttonDiv{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button{
  width: 70px;
  height: 40px;
  border-radius: 5px;
  background-color: #4ECCA3;
  color: #232931;
  border: none;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 0 #4ECCA3;
  font-size: 20px;
}
button:hover{
  width: 75px;
  height: 42px;
  transition: .3s ease;
}
@media (max-width: 1300px){
  html{
    overflow-y: scroll;
  }
}
@media (max-width: 760px){
  .container{
    width: 100%;
  }
}